 <section class="mt-5">
<div class="container">
  <div class="row">
    <div class="col-md-4">
       <div class="card" (click)="gotoSamsung()">
        <div class="card-title">Samsung Laptop</div>
          <div class="card-desc">Price 40000</div>
          <img src="../assets/Samsung_laptop.jpg" alt="check your internet" >
          
       </div>
    </div>

    <div class="col-md-4">
        <div class="card" (click)="goto()" >
            <div class="card-title">Asus Laptop</div>
            <div class="card-desc">Price 50000</div>
            <img src="../assets/laptop_Asus.jpg" alt="check your internet" >
           
        </div>
    </div>

    <div class="col-md-4">
       <div class="card" (click)="goto()">
        <div class="card-title"> MI laptop</div>
        <div class="card-desc">price 44000</div>
        <img src="../assets/Dell_laptop.jfif" alt="check your internt" >
       </div>
    </div>   
  </div>
</div>
</section>

<div class="col-lg-11">
    <div class="row" style="margin-left: 83px;">
        <div class="col-md-4">
            <div class="card" (click)="goto()">
                <div class="card-title">Lenovo laptop</div>
                <div class="card-desc">price 50000</div>
                <img src="../assets/lenovo_laptop1.jfif" alt="">
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="goto()">
                <div class="card-title">Lenovo laptop2</div>
                <div class="card-desc">price 60000</div>
                <img src="../assets/lenovo_laptop2.jfif" alt="">
            </div>
        </div>
          
        <div class="col-md-4">
            <div class="card" (click)="goto()">
                <div class="card-title">Apple Laptop</div>
                <div class="card-desc">price 80000</div>
                <img src="../assets/apple_laptop.jfif" alt="">
            </div>
        </div>

      </div>
</div>

