<section class="mt-5" style="margin-left: 10px;">
 <div class="row">
  <div class="col-md-6">
    <div class="card">
       <img src="../assets/Samsung_laptop.jpg" alt="Something went wrong">
    </div>
  </div>

  <div class="col-md-6">
    <h1><u>Description</u></h1>
       <div class="info"><h3>
        Brand    : Samsung <br>
        Warranty : 1 year <br>
        color    : gray  <br>
        Screen Size	: 40.62 Centimetres <br>
        Hard Disk Size : 1 TB <br>
        Ram            : 16 GB
       </h3></div>
  </div>

 </div>
</section>
