<form action="#" method="post">
<div class="imgcontainer">
 <img src="../assets/avatar2.jfif" alt="Avatar" class="avatar">
</div>
 <div class="container">
   <label for="uname">User Name</label><br>
   <input type="text" placeholder="Enter User Name" required><br>
   <label for="pwd">Password</label><br>
   <input type="password" placeholder="Enter Password" required><br>

   <label><input type="checkbox" >Remember me</label><br>
   
   <button type="submit">Login</button><br>

   

    <div class="container">
         <button type="btn" class="cancelbtn">Cancel</button>
         <span class="psw">Forgot <a href="#">Password</a></span>
    </div>

</div>
</form>