<section class="vh-100" style="background-color: #f361db;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Reset</h3>
              <p style="color: rgb(33, 36, 187);">Email: {{ email }}</p>
             <form [formGroup]="myForm">
                 
              <!-- <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Current Password</label>
                <input type="password" id="typeEmailX-2" [(ngModel)]="currentPass" class="form-control form-control-lg" name="currentPass" (blur)="checkCurrentPass()" />               
              </div>
   -->
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">New Password</label>
                <input type="password" id="typePasswordX-2" [(ngModel)]="newPass" class="form-control form-control-lg" formControlName="newPassword" />
                  <div *ngIf="myForm.get('newPassword').touched && myForm.get('newPassword').errors?.['required']" style="color: red; text-align: left;">
                     &nbsp; Please enter your new password
                  </div>
              </div><br>

              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Confirm Password</label>
                <input type="password" id="typePasswordX-2" [(ngModel)]="confirmPass" class="form-control form-control-lg" formControlName="confirmPassword" />
                  <div *ngIf="myForm.get('confirmPassword').touched && myForm.get('confirmPassword').errors?.['required']" style="color: red; text-align: left;">
                    &nbsp;Please confirm your password
                  </div>

                  <!-- <div *ngIf="!confirmPassword.errors.required && newPassword.value !== confirmPassword.value">
                    Please check your passwords correctly.
                  </div>                   -->
                   
              </div>
              <div style="color: red;"><h4>{{message}}</h4></div><br><br>
              
  
              <button class="btn btn-primary btn-lg btn-block" (click)="reset()" [disabled]="!myForm.valid">Reset</button>
             </form> 
              <hr class="my-4">
  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  