<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here</p>
                  <!-- <div class="panel-body"> -->
    
                    <div class="form-outline" [formGroup]="myForm">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="email" name="email" placeholder="email address" [(ngModel)]="email" class="form-control"   formControlName="email">
                            <div *ngIf="myForm.get('email').touched && myForm.get('email').errors?.['required']" style="color: red;text-align: left;">
                                 &nbsp;Please enter your email
                            </div>
                        </div>
                      </div><br><br>
    
                    </div>
                    <button class="btn btn-primary " (click)="forgotPassword()" [disabled]="!myForm.valid">Reset Password</button>
                    
    
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
